<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Register{% endblock %}</title>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/app.css') }}" rel="stylesheet"/>
        {% block stylesheets %} {% endblock %}
    </head>

    <body>

        {% block body %}
        <div class="container-fluid bg-box">
            <div class="row justify-content-center align-items-center full-height">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Activation du compte</h2>
                            <p class="card-text">Bon retour chez nous <strong>{{ user.firstname }} {{ user.lastname }}</strong></p>
                            <p class="card-text">Votre compte a été activé avec succès.</p>
                            <p class="card-text">Pour finaliser le process, cliquez sur le boutton ci-dessous pour vous connectez.</p>
                            <p class="card-text">
                                <a href="/login" class="btn btn-dark btn-lg mt-4"> Connectez vous</a>
                            </p>
{#                            <form method="post">#}
{#                                <input type="hidden" value="{{ user.email }}" name="email" id="inputEmail" class="form-control" required autofocus>#}
{#                                <input type="hidden" value="{{ user.password }}" name="password" id="inputPassword" class="form-control" required>#}

{#                                <input type="hidden" name="_csrf_token"#}
{#                                    value="{{ csrf_token('authenticate') }}"#}
{#                                >#}
{#                                <button type="submit" class="btn btn-dark btn-lg mt-4"> Connectez vous</button>#}
{#                            </form>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>
        <script src="{{ asset('js/popper.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- bootbox code -->
        <script src="{{ asset('js/bootbox.min.js') }}"></script>
        <script src="{{ asset('js/bootbox.locales.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>