{% extends 'base.html.twig' %}
{% block title %} {{ page }} {% endblock %}
{% block body %}
    <div class="kt-grid kt-grid--desktop kt-grid--ver kt-grid--ver-desktop kt-app">

        <div class="kt-grid__item kt-app__toggle kt-app__aside kt-app__aside--sm kt-app__aside--fit" id="kt_profile_aside">
            <div class="kt-portlet">
                <div class="kt-portlet__body">
                    <div class="kt-widget kt-widget--general-1">
                        <div class="kt-media kt-media--brand kt-media--md kt-media--circle">
                            <img src="{{ user.photo }}" alt="image">
                        </div>
                        <div class="kt-widget__wrapper">
                            <div class="kt-widget__label">
                                <a href="#" class="kt-widget__title">
                                    {{ user.prenom }} {{ user.nom }}
                                </a>
                                <span class="kt-widget__desc">
                                {{ user.fonction }}
                            </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="kt-portlet__separator"></div>

                <div class="kt-portlet__body">
                    <ul class="kt-nav kt-nav--bolder kt-nav--fit-ver kt-nav--v4" role="tablist">
                        <li class="kt-nav__item">
                            <a class="kt-nav__link" href="/user/profil" role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                <span class="kt-nav__link-text">Informations personnelles</span>
                            </a>
                        </li>
                        <li class="kt-nav__item">
                            <a class="kt-nav__link active" href="/user/account" role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon-feed"></i></span>
                                <span class="kt-nav__link-text">Paramètres du compte</span>
                            </a>
                        </li>
                        <li class="kt-nav__item active">
                            <a class="kt-nav__link" href="/user/password" role="tab">
                                <span class="kt-nav__link-icon"><i class="flaticon2-settings"></i></span>
                                <span class="kt-nav__link-text">Changer le mot de passe</span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="kt-portlet kt-portlet--head-noborder">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title  kt-font-danger">
                            Important Update
                        </h3>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <span class="kt-badge kt-badge--bolder kt-badge kt-badge--inline kt-badge--danger">Now</span>
                    </div>
                </div>
                <div class="kt-portlet__body kt-portlet__body--fit-top">
                    <div class="kt-section kt-section--space-sm">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                    </div>
                    <div class="kt-section kt-section--last">
                        <a href="#" class="btn btn-brand btn-sm btn-bold"><i class=""></i> Take Action</a>&nbsp;
                        <a href="#" class="btn btn-clean btn-sm btn-bold">Dismiss</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="kt-grid__item kt-grid__item--fluid kt-app__content">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <h3 class="kt-portlet__head-title">{{ page }} <small>Modifier</small></h3>
                    </div>
                </div>
                {{ form_start(form, { 'attr': {'class': 'kt-form kt-form--label-right', 'id': 'kt_profile_form'} }) }}
                    <div class="kt-portlet__body">
                        <div class="kt-section kt-section--first">
                            <div class="kt-section__body">
                                <div class="alert alert-solid-danger alert-bold fade show kt-margin-t-20 kt-margin-b-40" role="alert">
                                    <div class="alert-icon"><i class="fa fa-exclamation-triangle"></i></div>
                                    <div class="alert-text">Configure user passwords to expire periodically. Users will need warning that their passwords are going to expire,
                                        <br>or they might inadvertently get locked out of the system!</div>
                                    <div class="alert-close">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true"><i class="la la-close"></i></span>
                                        </button>
                                    </div>
                                </div>

                                <div class="row">
                                    <label class="col-xl-3"></label>
                                    <div class="col-lg-9 col-xl-6">
                                        <h3 class="kt-section__title kt-section__title-sm">Changer ou Restaurer votre mot de passe</h3>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">{{ form_label(form.password) }}</label>
                                    <div class="col-lg-9 col-xl-6">
                                        {{ form_widget(form.password) }}
                                        <a href="#" class="kt-link kt-font-sm kt-font-bold kt-margin-t-5">Mot de passe oublié ?</a>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">{{ form_label(form.plainPassword.first) }}</label>
                                    <div class="col-lg-9 col-xl-6">
                                        {{ form_widget(form.plainPassword.first) }}
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-xl-3 col-lg-3 col-form-label">{{ form_label(form.plainPassword.second) }}</label>
                                    <div class="col-lg-9 col-xl-6">
                                        {{ form_widget(form.plainPassword.second) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="kt-portlet__foot">
                        <div class="kt-form__actions">
                            <div class="row">
                                <div class="col-lg-3 col-xl-3">
                                </div>
                                <div class="col-lg-9 col-xl-9">
                                    {{ form_widget(form.save) }}
                                    {{ form_widget(form.reset) }}
                                </div>
                            </div>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}