{% extends "base.html.twig" %}

{% block title %} {{ page }} {% endblock %}

{% block body %}
    <h2 class="mt-4 mb-4"> {{ page }} </h2>
    {% if agent %}
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Nom complet</strong> : {{ agent.nom }} {{ agent.postnom }} {{ agent.prenom }}
                    </li>
                    <li class="list-group-item">
                        <strong>Fonction </strong> : {{ agent.fonction }}
                    </li>
                    <li class="list-group-item">
                        <strong>Salaire </strong> : {{ agent.salaire }}
                    </li>
                    {% if agent.date_creation %}
                    <li class="list-group-item">
                        <strong>Date d'enregistrement </strong> : {{ agent.date_creation|date('d-m-Y') }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <a href="/" class="btn btn-dark">Retour vers la liste d'agent</a>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-primary add-agent" data-toggle="modal" data-target="#exampleModal">
                    Ajouter des tâches pour cet agent
                </button>
            {% endif %}
        </div>
        {% if tasks %}
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th scope="col">Priorité</th>
                        <th scope="col">Nom de la tâche</th>
                        <th scope="col">Description de la tâche</th>
                        <th scope="col">Etat</th>
                        <th scope="col">Date de début</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Heure de début</th>
                        <th scope="col">Heure de fin</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks  %}

                        <tr>
                            <th scope="row">
                                {% if task.priorite == 0 %}
                                    <span class="badge badge-success">Basse</span>
                                {% elseif task.priorite == 1 %}
                                    <span class="badge badge-warning">Moyenne</span>
                                {% else %}
                                    <span class="badge badge-danger">Elévé</span>
                                {% endif %}
                            </th>
                            <td>{{ task.nom }}</td>
                            <td>{{ task.description}}</td>
                            <td><span class="badge badge-secondary">En cours</span></td>
                            <td>{{ task.date_debut | date("d M Y", "Europe/Paris") }}</td>
                            <td>{{ task.date_fin | date("d M Y", "Europe/Paris") }}</td>
                            <td>{{ task.date_debut | date("h:i") }}</td>
                            <td>{{ task.date_fin | date("h:i") }}</td>
                            <td>
                                <a class="btn btn-primary btn-see mb-2" href="/task/{{ task.id }}">
                                    Voir
                                </a>
                                {% if is_granted('ROLE_ADMIN') %}

                                    <a class="btn btn-success btn-edit mb-2" href="/agent/{{ agent.id }}/task/edit/{{ task.id }}">
                                        Modifier
                                    </a>
                                    <button class="btn btn-danger btn-remove-task add-agent" data-agent-id="{{ agent.id }}" data-task-id="{{ task.id }}">
                                        Supprimer
                                    </button>
                                {% endif %}
                            </td>
                        </tr>

                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <div class="alert alert-danger mt-4" role="alert">
                Aucune tâche n'a été attribué à cet agent
            </div>
        {% endif %}

        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle tâche</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modifier la tâche</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
{#                        {{ form(editForm) }}#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        <button type="button" class="btn btn-primary">Enregistrer</button>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}
{% endblock %}

