{% extends "base.html.twig" %}

{% block title %} {{ page }} {% endblock %}

{% block body %}
    <h2 class="mt-4 mb-4"> {{ page }} </h2>
    {% if agent %}
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Nom complet</strong> : {{ agent.nom }} {{ agent.postnom }} {{ agent.prenom }}
                    </li>
                    <li class="list-group-item">
                        <strong>Fonction </strong> : {{ agent.fonction }}
                    </li>
                    <li class="list-group-item">
                        <strong>Salaire </strong> : {{ agent.salaire }}
                    </li>
                    {% if agent.date_creation %}
                    <li class="list-group-item">
                        <strong>Date d'enregistrement </strong> : {{ agent.date_creation|date('d-m-Y') }}
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <a href="/" class="btn btn-dark">Retour vers la liste d'agent</a>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-primary add-agent" data-toggle="modal" data-target="#exampleModal">
                    Ajouter des tâches pour cet agent
                </button>
            {% endif %}
        </div>

        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ajouter une nouvelle tâche</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ form(form) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

