<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
{#        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>#}
{#        <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet"/>#}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        {% block stylesheets %} {% endblock %}
        <!--begin::Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />        <!--end::Fonts -->

        <!--begin::Page Vendors Styles(used by this page) -->
        <link href="{{ asset("plugins/custom/fullcalendar/fullcalendar.bundle.css") }}" rel="stylesheet" type="text/css" />
        <!--end::Page Vendors Styles -->


        <!--begin::Global Theme Styles(used by all pages) -->
        <link href="{{ asset("plugins/global/plugins.bundle.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("css/style.bundle.css") }}" rel="stylesheet" type="text/css" />
        <!--end::Global Theme Styles -->

        <!--begin::Layout Skins(used by all pages) -->

        <link href="{{ asset("css/skins/header/base/light.css")}}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("css/skins/header/menu/light.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("css/skins/brand/navy.css") }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset("css/skins/aside/navy.css") }}" rel="stylesheet" type="text/css" />        <!--end::Layout Skins -->

        <link rel="shortcut icon" href="https://keenthemes.com/keen/themes/keen/theme/demo1/dist/assets/media/logos/favicon.ico" />

        <!-- Hotjar Tracking Code for keenthemes.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:1070954,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-37564768-1');
        </script>
    </head>
    <body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-aside--enabled kt-aside--fixed">
        {#   Header Mobile     #}
        {{ include('inc/header-mobile.html.twig') }}
        <!-- Begin ROOT -->
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <!-- Begin Page -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                <!-- Begin Aside -->
                <button class="kt-aside-close " id="kt_aside_close_btn"><i class="la la-close"></i></button>
                {{ include('inc/aside.html.twig') }}
                <!-- End Aside -->
                <!-- Begin Wrap -->
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
                    <!-- Begin Header -->
                    {{ include('inc/navbar.html.twig') }}
                    <!-- End Header -->
                    <div class="kt-content  kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                        <!-- Begin SubHeader -->
                        {{ include('inc/subheader.html.twig') }}
                        <!-- End SubHeader -->
                        <!-- Begin Content -->
                        <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
                            {% block body %}{% endblock %}
                        </div>
                        <!-- Begin Content -->
                    </div>
                    {{ include('inc/footer.html.twig') }}
                </div>
                <!-- End Wrap -->
            </div>
        </div>
        <!-- End ROOT -->
{#        <!-- Begin Toolbar quick action -->#}
{#        {{ include('inc/toolbar-quick.html.twig') }}#}
{#        <!-- End Toolbar quick action -->#}
{#        <!-- Begin quick Panel -->#}
{#        {{ include('inc/quick-panel.html.twig') }}#}
{#        <!-- End Quick Panel -->#}
{#        <!-- Begin Scroll Top -->#}
{#        {{ include('inc/scroll-top.html.twig') }}#}
        <!-- End Scroll Top -->
        <script>
            var KTAppOptions = {
                "colors": {
                    "state": {
                        "brand": "#5d78ff",
                        "metal": "#c4c5d6",
                        "light": "#ffffff",
                        "accent": "#00c5dc",
                        "primary": "#5867dd",
                        "success": "#34bfa3",
                        "info": "#36a3f7",
                        "warning": "#ffb822",
                        "danger": "#fd3995",
                        "focus": "#9816f4"
                    },
                    "base": {
                        "label": [
                            "#c5cbe3",
                            "#a1a8c3",
                            "#3d4465",
                            "#3e4466"
                        ],
                        "shape": [
                            "#f0f3ff",
                            "#d9dffa",
                            "#afb4d4",
                            "#646c9a"
                        ]
                    }
                }
            };
        </script>

        <!--begin::Global Theme Bundle(used by all pages) -->
        <script src="{{ asset("plugins/global/plugins.bundle.js")}}" type="text/javascript"></script>
        <script src="{{ asset("js/scripts.bundle.js") }}" type="text/javascript"></script>
        <!--end::Global Theme Bundle -->

        <!--begin::Page Vendors(used by this page) -->
        <script src="{{ asset("plugins/custom/fullcalendar/fullcalendar.bundle.js") }}" type="text/javascript"></script>
        <!--end::Page Vendors -->

        <!--begin::Page Scripts(used by this page) -->
        <script src="{{ asset("js/pages/dashboard.js") }}" type="text/javascript"></script>

{#        <script src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script>#}
{#        <script src="{{ asset('js/popper.min.js') }}"></script>#}
{#        <script src="{{ asset('js/bootstrap.min.js') }}"></script>#}
        <!-- bootbox code -->
        <script src="{{ asset('js/bootbox.min.js') }}"></script>
        <script src="{{ asset('js/bootbox.locales.min.js') }}"></script>
          datatable plugins
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset('js/app.js') }}"></script>
        <div class="daterangepicker ltr show-ranges opensleft"><div class="ranges">
                <ul>
                    <li data-range-key="Today">Today</li>
                    <li data-range-key="Yesterday">Yesterday</li>
                    <li data-range-key="Last 7 Days">Last 7 Days</li>
                    <li data-range-key="Last 30 Days">Last 30 Days</li>
                    <li data-range-key="This Month">This Month</li>
                    <li data-range-key="Last Month">Last Month</li>
                    <li data-range-key="Custom Range">Custom Range</li>
                </ul>
            </div>
            <div class="drp-calendar left">
                <div class="calendar-table"></div>
                <div class="calendar-time" style="display: none;"></div>
            </div>
            <div class="drp-calendar right">
                <div class="calendar-table"></div>
                <div class="calendar-time" style="display: none;"></div>
            </div>
            <div class="drp-buttons">
                <span class="drp-selected"></span>
                <button class="cancelBtn btn btn-sm btn-secondary" type="button">Cancel</button>
                <button class="applyBtn btn btn-sm btn-primary" disabled="disabled" type="button">Apply</button>
            </div>
        </div>

        {% block javascripts %} {% endblock %}
    </body>
</html>
